@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', 'sans-serif';
}
.page_body{
    height: 100%;
    width: 100%;
    display: flex;
}
.sidebar{
    padding: 30px;
    width: 20%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
}
.comp_group{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.side_component{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    /* font-family: 'Open Sans', 'sans-serif'; */
}
.topbar{
    margin-top: 20px;
    margin-top: 20px;
    padding: 5px;
    display: flex;
}
.topbar h1{
    width: 85%;
    font-size: 20px;
}
.logo-bar img{
    height: 40px;
    width: 40px;
}
.share_button{
    justify-content: center;
    align-items: center;
    gap: 2px;
    display: flex;
    width: 10%;
}
.topbar h2{
    font-size: 15px;
}
.main_screen{
    width: 80%;
    height: 100%;

}
.searchbox{
    position: absolute;
    bottom: 10%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 50%;
    height: 40px;
    background-color: white;
    box-shadow: 0 0 2px black;
    border-radius: 30px;
}
.icon{
    margin: 5px;
    width: 20px;
    height: 20px;
}
#searchbox{
    margin-left: 15px;
    border: 0px solid white;
    width: 80%;
}
.chat-block{
    font-size: 15px;
    margin: 10px;
}